@charset "utf-8";
/* CSS Document */

*{margin:0; padding:0;}
a img{ border:0;}
a {text-decoration:none;}
ol, ul {list-style:none;}
body {background:#9cf url(../images/bg-x.jpg) repeat-x; }
h2{ color:#060;}

/* Divs */
#warp{width:1244px; height:1110px; background-image:url(../images/bg-warp.jpg); margin:auto;}
#root{margin:auto; width:910px; background-color:#333;}

/* TOPO*/
#top{width:910px; height:210px;}
#top img{float:left;}

#menu-1{width:910px; height:40px; background:url(../images/button_bg.gif) repeat-x #060;}
#menu-1 img{float:left;}
#menu-1 ul{float:left;}
#menu-1 li{float:left; width:97px; height:30px; text-align:center; background-image:url(../images/button_sprite.jpg); list-style:none; padding-top:10px;}
#menu-1 a{font-family:"Calibri","Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.1em; color:#FFF; text-align:center; text-decoration:none;}
#menu-1 a:hover{color:#FC0; background:none;}


/* CONTENT */

#content{width:910px;}
#content div{float:left;}

#coluna-1{width:230px; height:860px; background:url(../images/coluna1-bg.jpg) #9CC no-repeat;}
#coluna-1 ul{width:220px; background:url(../images/menu2-bg.jpg) repeat-x bottom #FFF; margin-left:3px; border-left:2px solid #666; border-right:2px solid #666;}
#coluna-1 li{color:#363;  margin:0 10px 0 10px; padding:5px 0 5px 0;list-style:square; list-style-position:inside;  border-bottom:dotted #393 2px;}
#coluna-1 li a{font-family:"Calibri","Trebuchet MS", Arial, Helvetica, sans-serif; color:#363; font-weight:bold; text-decoration:none;}
#coluna-1 li a:hover{color:#900;}

#coluna-2 {width:450px; height:860px; background-color:#FFF;}

#projetos{width:450px; height:200px; }
#projetos h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#projetos ul{ width:211px; height:136px; float:left; background-color:#EEE; border:solid #FFF 2px; list-style:square; list-style-position:inside; padding:5px; color:#060;}
#projetos li{ padding-bottom:2px;}
#projetos a{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#060; font-size:.7em; text-decoration:none; font-weight:bold;}
#projetos a:hover{ text-decoration:underline; color:#900;}

#noticias{ width:450px; height:330px;}
#noticias h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#noticias li{ width:211px; height:126px; float:left; background-color:#EEE; border:solid #FFF 2px; list-style:none; padding:5px;}
#noticias h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1em;}
#noticias h3{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#666; font-size:.7em;}
#noticias a{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.7em; text-decoration:none;}
#noticias a:hover span p{ text-decoration:underline;}
#noticias a:hover{ text-decoration:underline;}
#noticias img{float:left; margin-right:4px;}

#galerias{width:225px; height:330px; float:left;}
#galerias h1{width:201px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#galerias li{ width:211px; height:126px; float:left; background-color:#EEE; border:solid #FFF 2px; list-style:none; padding:5px;}
#galerias h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1em;}
#galerias a{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.7em; text-decoration:none;}
#galerias a:hover span p{ text-decoration:underline;}
#galerias a:hover{ text-decoration:underline;}
#galerias img{float:left; margin-right:4px;}

#produtos{width:225px; height:330px; float:left;}
#produtos h1{width:201px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#produtos li{ width:211px; height:126px; float:left; background-color:#EEE; border:solid #FFF 2px; list-style:none; padding:5px;}
#produtos h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1.2em;}
#produtos a{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.8em; text-decoration:none;}
#produtos a:hover span h2{ text-decoration:underline;}
#produtos a:hover span p{ text-decoration:underline;}
#produtos a:hover{ text-decoration:underline;}
#produtos img{float:left; margin-right:4px;}

#coluna-3 {width:230px; height:860px; background-color:#FFF;}

#buscar {width:230px; height:200px;}
#buscar h1{width:206px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#buscar form{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; width:216px; height:136px; background-color:#EEE; border:solid #FFF 2px; padding:5px; text-align:center;}
#buscar input{ font-size:1.1em; margin:10px 5px;}
#buscar select{margin:10px 5px;}


#eventos {width:230px; height:330px;}
#eventos h1{width:206px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#eventos ul{ width:218px; height:325px; float:left; background-color:#EEE; border:solid #FFF 2px; list-style:square; list-style-position:inside; padding:5px; color:#060;}
#eventos li{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; padding-bottom:3px; font-weight:bold; text-decoration:none;}
#eventos a{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#060; font-size:.7em; text-decoration:none; font-weight:bold;}
#eventos a:hover{ text-decoration:underline; color:#900;}
#eventos h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1em;}

#newsletter {width:230px; height:330px;}
#newsletter h1{width:206px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#newsletter form{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; width:216px; height:266px; background-color:#EEE; border:solid #FFF 2px; padding:5px;}
#newsletter h2{font-weight:bold; font-size:.9em; margin-bottom:10px;}
#newsletter input{ font-size:1em; margin:10px 5px;}
#newsletter span{color:#060; font-weight:bold; font-size:1em;}


#assinatura{ width:900px; height:165px; background:url(../images/asing_bg.gif) repeat-x #FFF; text-align:center; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; float:left; padding:5px;}
#assinatura h2{color:#333; margin:5px; font-size:.8em;}
#assinatura h2 a{color:#333; margin:5px; font-size:1em;}
#assinatura h2 a:hover{color:#F00;}
#assinatura span{color:#333; margin:5px 10px;; font-size:1em; font-weight:bold; text-align:left; float:left;}
#assinatura img{ margin-left:10px;}

/* LISTA DE NOTÍCIAS */

#noticias-list{ width:450px; height:820px;}
#noticias-list h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#noticias-list li{ width:430px; height:80px; background-color:#EEE; border:solid #FFF 2px; border-bottom:solid #666 2px; list-style:none; padding:5px; margin:2px 4px; _margin:2px;}
#noticias-list h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1.4em;}
#noticias-list h3{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#666; font-size:1em;}
#noticias-list a{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.7em; text-decoration:none;}
#noticias-list a:hover span p{ text-decoration:underline;}
#noticias-list a:hover{ text-decoration:underline;}
#noticias-list img{float:left; margin-right:5px;}

/* TEXTO DA NOTÍCIAS */

#noticias-text {width:450px; height:860px;}
#noticias-text h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#noticias-text .not-header{width:430px; height:30px; border-bottom:solid #666 2px; margin:0 5px;}
#noticias-text .not-header h3{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#666; font-size:.7em; font-weight:normal; padding:6px 0; float:left;}
#noticias-text .not-header h3 span{font-weight:bold;}
#noticias-text .not-header p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#666; font-size:.6em; float:right; padding:5px 0;}
#noticias-text .not-header p a{ width:16px; height:16px; border:#999 solid 1px; margin-left:5px; padding:2px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#f00; font-size:1.5em; font-weight:bold; text-decoration:none;}
#noticias-text .not-body{width:450px; height:770px; overflow:auto;}
#noticias-text h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.4em; padding:10px;}
#noticias-text .not-foto{width:240px; height:280px; margin-left:10px; _margin-left:5px; float:left;}
#noticias-text .not-foto img{border:solid #333 1px;}
#noticias-text .not-foto h4{width:226px; height:36px; margin-top:240px; _margin-top:0; background-color:#ccc; border-bottom:solid #666 2px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.7em; font-weight:normal; padding:2px;}
#noticias-text p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.8em; text-decoration:none; margin:0 10px;}

#noticias-text img{float:left;}

/* PAGINACAO RESULTADOS */
#box-paginacao {width:440px; border-bottom:1px solid #DDD; height:30px; text-align:center; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; padding:5px;}
#box-paginacao ul li {display:inline;font-size:0.8em;font-weight:bold;}
#box-paginacao ul li.link-anterior {float:left;}
#box-paginacao ul li.link-proxima {float:right;}
#box-paginacao ul li a {color:#060; padding:1px 3px;}
#box-paginacao ul li a:hover {background-color:#060; color:#FFF;}
#box-paginacao ul li.link-anterior a, #box-paginacao ul li.link-proxima a {padding:0;}
#box-paginacao ul li.link-anterior a:hover, #box-paginacao ul li.link-proxima a:hover {background:none; color:#060; text-decoration:underline;}
#box-paginacao ul li .on {background-color:#aaa;color:#FFF;display:inline; padding:1px 3px;}
#box-paginacao ul li .off {color:#666; display:inline;}

/* LISTA DE GALERIAS */

#galerias-list{ width:450px;}
#galerias-list h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#galerias-list li{ width:430px; height:115px; background-color:#eee; border:solid #FFF 2px; border-bottom:solid #666 2px; list-style:none; padding:5px; margin:5px 4px; _margin:5px 0; }
#galerias-list h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1.2em;}
#galerias-list li img{ width:100px; height:100px; padding:5px; border:#333 1px solid; background-color:#FFF;}
#galerias-list p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.8em; text-decoration:none;}
#galerias-list a span:hover h2{color:#900;}
#galerias-list img{float:left; margin-right:5px;}

/* GALERIA DE FOTOS */

#galerias-desc{ width:450px;}
#galerias-desc h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#galerias-desc li{width:430px; background-color:#eee; border:solid #FFF 2px; border-bottom:solid #666 2px; list-style:none; padding:5px; margin:5px 4px; _margin:5px 2px;}
#galerias-desc h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1.2em;}
#galerias-desc p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.8em; text-decoration:none;}
#div-galeria{width:436px; height:360px; background-color:#ccc; border:solid #333 2px; background:url(../images/gallery_bg.gif); margin:0 5px; _margin:0 2px;}
#div-galeria img{ margin:12px; _margin:10px; border:solid #333 1px;}
#div-galeria ul {width:436px; height:60px; background-color:#333;} 
#div-galeria ul li{text-align:center; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; padding:0 12px; color:#FFF; font-weight:bold; font-size:1.2em;}
#div-galeria ul li.link-anterior {float:left;}
#div-galeria ul li.link-proxima {float:right;}


/* LISTA DE EVENTOS */

#eventos-list{ width:450px;}
#eventos-list h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#eventos-list li{ width:430px; background-color:#eee; list-style:none; padding:5px; margin:5px 4px; _margin:5px 0; }
#eventos-list h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1.2em;}
#eventos-list p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.8em; text-decoration:none;}
#eventos-list a h2:hover{color:#900;}

/* TEXTO DO EVENTO */

#eventos-text {width:450px; height:860px;}
#eventos-text h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#eventos-text .event-body{width:450px; height:770px; overflow:auto;}
#eventos-text h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.4em; padding:10px;}
#eventos-text .event-foto{width:230px; height:190px; margin-left:10px; _margin-left:5px; float:left;}
#eventos-text .event-foto img{border:solid #333 1px;}
#eventos-text p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.8em; text-decoration:none; margin:0 10px;}

/* LISTA DE PRODUTOS */

#produtos-list{ width:450px;}
#produtos-list h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#produtos-list li{ width:430px; height:135px; background-color:#eee; border:solid #FFF 2px; border-bottom:solid #666 2px; list-style:none; padding:5px; margin:5px 4px; _margin:5px 0; }
#produtos-list h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-weight:bold; font-size:1.2em;}
#produtos-list li img{ width:80px; height:120px; padding:5px; border:#333 1px solid; background-color:#FFF;}
#produtos-list p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.8em; text-decoration:none;}
#produtos-list p span{font-weight:bold;}
#produtos-list img{float:left; margin-right:5px;}

/* RESULTADOS DE BUSCA */

#resultados{ width:450px;}
#resultados h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#resultados h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-weight:bold; font-size:1em; padding-left:5px;}
#resultados h2 span{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.7em;}
#resultados .res-header{ width:440px; height:20px; background-color:#eef5d5; padding:5px;}
#resultados .res-header span{float:right; font-size:1em;}
#resultados p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.8em; padding-left:5px;}
#resultados li{ margin-bottom:5px;}
#resultados li:hover{text-decoration:underline;}
#resultados .res-not h2{ color:#F00;}
#resultados .res-eve h2{ color:#c8b400;}
#resultados .res-gal h2{ color:#639;}
#resultados .res-vid h2{ color:#906;}

/* LISTA DE PROJETOS */

#projetos-list{ width:450px;}
#projetos-list h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#projetos-list ul{padding:10px; color:#060;}
#projetos-list li{list-style:square; list-style:inside; padding-top:1px;}
#projetos-list li a{ width:430px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;  font-weight:bold; color:#060; font-size:1em;}
#projetos-list li a:hover{color:#900;}

/* TEXTO DO PROJETO */

#projetos-text {width:450px; height:860px;}
#projetos-text h1{width:426px; padding-left:20px; height:50px; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#projetos-text h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1.4em; padding:10px;}
#projetos-text .proj-body{width:450px; height:770px; overflow:auto;}
#projetos-text h3{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#090; font-size:1em; margin:10px;}
#projetos-text .proj-foto{width:230px; height:190px; margin-left:10px; _margin-left:5px; float:left;}
#projetos-text .proj-foto img{border:solid #333 1px;}
#projetos-text p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.8em; text-decoration:none; margin:0 10px;}

/* TEXTO DO PONTO DE CULTURA*/

#ponto-text {width:450px; height:860px; overflow:auto;}
#ponto-text h1{width:410px; padding:10px 20px; height:30px; color:#FFF; font-size:1.2em; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; background:url(../images/title_bg.gif) repeat-x #88b300; border-left:solid 2px #cdee67; border-right:solid 2px #333; border-top:solid 1px #333;}
#ponto-text h2{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:1em; margin:5px 10px;}
#ponto-text p{font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; color:#333; font-size:.8em; text-decoration:none; margin:0 10px;}